.button {
  background-color: green;
  color: white;
  padding: 10px;
  margin: 5px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 2em;
  border-radius: 0.5em;
}

.input {
  font-size: 1.7em;
  border-radius: 0.3em;
}

.container {
  display: flex;
  width: 40%;
  padding: 10%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
